// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Reset

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
  display: block;
}

ul, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: currentColor;
}

a:hover{
  text-decoration: none;
  color: currentColor;
}

// nostri stili

@import 'navbar';
@import 'edit';
@import 'orders';